main/.pio
main/.vscode/.browse.c_cpp.db*
main/.vscode/c_cpp_properties.json
main/.vscode/launch.json
main/.vscode/ipch
main/circuits/Receiver/.DS_Store
main/circuits/Receiver/receiver-1.0-gerber/.DS_Store
main/circuits/Receiver/fp-info-cache
main/circuits/Receiver/receiver-1.0-gerber/Receiver-F_Mask.gbr
main/circuits/.DS_Store
main/circuits/Receiver/Receiver-backups/*
main/circuits/CentralBrain/CentralBrain-backups/*

.vscode/launch.json
.gitignore
remote/circuits/AntennaRemoteButtons/AntennaRemoteButtons-backups/*
remote/circuits/.DS_Store
remote/circuits/AntennaRemoteButtons/#auto_saved_files#
remote/circuits/AntennaRemoteButtons/.DS_Store
remote/.DS_Store
remote/circuits/AntennaRemoteButtons/fp-info-cache
.DS_Store
main/circuits/.DS_Store
main/circuits/.DS_Store
